accelerate==0.30.1
datasets==2.19.1
einops==0.8.0
gradio==3.50.2
gradio_client==0.6.1
jieba==0.42.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
peft==0.10.0
rouge-chinese==1.0.3
tokenizers==0.15.2
torch==2.1.2
tqdm==4.66.4
trl==0.9.6
transformers==4.39.3
triton==2.1.0
vllm==0.4.0.post1
vllm_nccl_cu12==2.18.1.0.4.0
xformers==0.0.23.post1
